<div class="">
  <p>Irradiação solar diária média mensal [kWh/m2.dia]</p>
  <table class="table table-secondary table-sm table-responsive-sm table-responsive-md table-responsive-lg">
    <thead>
      <tr>
        <th scope="col">Min</th>
        <th scope="col">Jan</th>
        <th scope="col">Fev</th>
        <th scope="col">Mar</th>
        <th scope="col">Abr</th>
        <th scope="col">Mai</th>
        <th scope="col">Jun</th>
        <th scope="col">Jul</th>
        <th scope="col">Ago</th>
        <th scope="col">Set</th>
        <th scope="col">Out</th>
        <th scope="col">Nov</th>
        <th scope="col">Dez</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{minimo.minimo}}</th>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.JAN}}</td>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.FEB}}</td>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.MAR}}</td>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.APR}}</td>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.MAY}}</td>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.JUN}}</td>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.JUL}}</td>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.AUG}}</td>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.SEP}}</td>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.OCT}}</td>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.NOV}}</td>
      <td>{{resultadoIrradiacao.resultadoIrradiacao.DEC}}</td>


      </tr>
    </tbody>
  </table>
</div>
