<div class="container border">
  <div class="row">
    <div class="col-2 container-cep m-0 ">
      <div class="input-group input-group-sm input-block mt-2 mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">CEP:</span>
        </div>
        <input type="number" id="cep" class="form-control" #cep>
      </div>

        <button type="button" class="btn btn-secondary btn-sm btn-block mb-2" id="bntCep" value="Consultar" (click)="consultar(cep.value)">Consultar</button>

    </div>
    <div class="col-9 container-cep ml-2">
      <div class="container">
        <h3>{{endereco}}</h3>
      </div>
      <div class="container row">
        <div class="col">
          <p>LATITUDE: {{latitude}}</p>
        </div>
        <div class="col">
          <p>LONGITUDE: {{longitude}}</p>
        </div>
      </div>
      <div class="container">
      </div>
    </div>
  </div>
</div>
