<div class="container mt-3">
  <div class="container row d-flex justify-content-center">
    <div class="col-2 mr-5">
      <a href="http://labren.ccst.inpe.br/atlas_2017.html">
        <img src="http://labren.ccst.inpe.br/imgs/ilustr/logos/Logo_LABREN_sem_descricao_fundo_transp.png" alt="labren__logo">
      </a>
    </div>
    <div class="col-2 mç-3">
      <a href="http://deagri.ufrpe.br/">
        <img src="https://www.ufrpe.br/sites/www.ufrpe.br/files/Logo%20UFRPE%20com%20texto_2.png" alt="UFRPE__logo">
      </a>
    </div>
  </div>
  <div class="row mt-3">
    <p> Desenvolvido por: <a href="https://github.com/brunoBenedicto">Bruno Benedicto</a></p>
  </div>
</div>
