<div class="container">
  <div class="dashboard">
    <div class="item col">
      <p>Consumo medio anual (Kw/h):</p>
      <h1>{{media.media.toFixed(2)}}</h1
        >
    </div>
    <div class="item col">
      <p>Consumo medio mes (Kw/h):</p>
      <h1>{{(media.media-fornecimento.fornecimento).toFixed(2)}}</h1>
    </div>
    <div class="item col">
      <p>Consumo medio dia (Kw/h):</p>
      <h1>{{((media.media-fornecimento.fornecimento)/30).toFixed(2)}}</h1>
    </div>
  </div>
  <div class="container-grafico">
    <app-grafico></app-grafico>
  </div>
</div>
