.dashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item{
  background-color: #09064F;
  display:flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  margin: 5px
}
.item h1{
  text-align: end;
}
.container-grafico{
  background-color: #09064F;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
