<p>Irradiação solar diária média mensal [kWh/m2.dia]</p>
<table class="table table-secondary table-sm table-responsive-sm table-responsive-md">
  <thead>
    <tr>
      <th scope="col">Media</th>
      <th scope="col">Jan</th>
      <th scope="col">Fev</th>
      <th scope="col">Mar</th>
      <th scope="col">Abr</th>
      <th scope="col">Mai</th>
      <th scope="col">Jun</th>
      <th scope="col">Jul</th>
      <th scope="col">Ago</th>
      <th scope="col">Set</th>
      <th scope="col">Out</th>
      <th scope="col">Nov</th>
      <th scope="col">Dez</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">media</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
