  <form [formGroup]="historico">
    <div class="input-group input-group-sm m-2 ">
      <div class="input-group-prepend">
        <label class="input-group-text" for="fornecimento">Sistema</label>
      </div>
      <select class="custom-select" id="fornecimento" formControlName="fornecimento" (change)="defineFornecimento()">
        <option value="30">Monofasíco</option>
        <option value="50">Bifasíco</option>
        <option value="100">Trifasíco</option>
      </select>
    </div>

    <div class="input-group input-group-sm m-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Jan</span>
      </div>
      <input type="number" class="form-control" aria-label="Janeiro" aria-describedby="inputGroup-sizing-sm" id="jan" type="number" formControlName="jan" (change)="calculaMedia()">
    </div>

    <div class="input-group input-group-sm m-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Fev</span>
      </div>
      <input type="number" class="form-control" id="fev" type="number" formControlName="fev" (change)="calculaMedia()" >
    </div>

    <div class="input-group input-group-sm m-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Mar</span>
      </div>
      <input type="number" class="form-control" id="mar" type="number" formControlName="mar" (change)="calculaMedia()">
    </div>

    <div class="input-group input-group-sm m-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Abr</span>
      </div>
      <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="abr" type="number" formControlName="abr" (change)="calculaMedia()">
    </div>

    <div class="input-group input-group-sm m-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Mai</span>
      </div>
      <input type="number" class="form-control" id="mai" type="number" formControlName="mai" (change)="calculaMedia()">
    </div>

    <div class="input-group input-group-sm m-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Jun</span>
      </div>
      <input type="number" class="form-control" id="jun" type="number" formControlName="jun" (change)="calculaMedia()">
    </div>

    <div class="input-group input-group-sm m-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Jul</span>
      </div>
      <input type="number" class="form-control" id="jul" type="number" formControlName="jul" (change)="calculaMedia()">
    </div>

    <div class="input-group input-group-sm m-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Ago</span>
      </div>
      <input type="number" class="form-control" id="ago" type="number" formControlName="ago" (change)="calculaMedia()">
    </div>

    <div class="input-group input-group-sm m-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Set</span>
      </div>
      <input type="number" class="form-control" id="set" type="number" formControlName="set" (change)="calculaMedia()">
    </div>

    <div class="input-group input-group-sm m-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Out</span>
      </div>
      <input type="number" class="form-control" id="out" type="number" formControlName="out" (change)="calculaMedia()">
    </div>

    <div class="input-group input-group-sm m-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Nov</span>
      </div>
      <input type="number" class="form-control" id="nov" type="number" formControlName="nov" (change)="calculaMedia()">
    </div>

    <div class="input-group input-group-sm m-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Dez</span>
      </div>
      <input type="number" class="form-control" id="dez" type="number" formControlName="dez" (change)="calculaMedia()">
    </div>
  </form>

