
.mes{
  background-color: #09064F;
  display:flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  width: 180px;
  border-radius: 5px;
}
.container-mes{
  height: 20px;
  margin-bottom: 3px;
  font-size: 14px;
  display: flex;
  justify-content: end;
}
.container-mes input{
  height: 20px;
  width: 100px;
  border: 3px solid #09064F;
  border-top: none;
  background-color: rgb(181, 189, 238);
}
.container-mes select{
  height: 20px;
  width: 100px;
  border: 3px solid #09064F;
  border-top: none;
  background-color: rgb(181, 189, 238);
}
.container-mes label{
  color: whitesmoke;
}
