<app-header></app-header>
<div class="corpo d-flex justify-content-center">
  <div class="container row mt-3 mb-3">
    <div class="col-sm col-lg-2 border rounded p-4 mb-sm-1  item">
      <app-formulario
        #logradouro #latitude #longitude
        #quantidadeDePaineis
        #consumoMedioAnual #consumoMedioMensal #consumoMedioDiario
        #resultadoIrradiacao #minimo>
      </app-formulario>
    </div>
    <div class="col-sm col-lg-9 ml-1">
      <div class="row d-flex justify-content-between">
        <div class="col-xs col-md-9 border rounded p-1 mb-1 item">
          <app-localidade [logradouro]="logradouro" [latitude]="latitude" [longitude]="longitude"></app-localidade>
        </div>
        <div class="col ml-1 border rounded p-1 mb-1 item">
          <app-quantidade-de-paineis [quantidadeDePaineis]="quantidadeDePaineis"></app-quantidade-de-paineis>
        </div>

      </div>
      <div class="row">
        <app-consumo-medio [consumoMedioAnual]="consumoMedioAnual" [consumoMedioMensal]="consumoMedioMensal" [consumoMedioDiario]="consumoMedioDiario"></app-consumo-medio>
      </div>
      <div class="row border rounded p-4 item">
        <app-irradiacao-media-diaria [resultadoIrradiacao]="resultadoIrradiacao" [minimo]="minimo"></app-irradiacao-media-diaria>
      </div>
    </div>
  </div>
</div>



