<form [formGroup]="formulario">
  <div class="form-group ">
    <label for="endereco">Endereço:</label>
    <input type="text" class="form-control form-control-sm" id="endereco" formControlName="endereco" placeholder="Endereço">
  </div>

  <div class="form-group">
    <label for="fornecimento">Sistema</label>
    <select class="custom-select custom-select-sm" id="fornecimento" formControlName="fornecimento">
      <option value="30">Monofasíco</option>
      <option value="50">Bifasíco</option>
      <option value="100">Trifasíco</option>
    </select>
  </div>

  <div class="form-group">
    <label for="consumo">Consumo Medio</label>
    <input type="number" class="form-control form-control-sm" id="consumo" type="number" formControlName="consumo" placeholder="Kw/h">
  </div>
  <div class="form-group">
    <label for="potencia">Potencia do painel</label>
    <input type="number" class="form-control form-control-sm" id="potencia" type="number" formControlName="potencia" placeholder="w">
  </div>

  <input type="button" class="btn btn-primary btn-block" value="Dimensionar" (click)="submeter()">
</form>
